{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        {% block content_content %}
            <strong></strong>
        {% endblock content_content %}
    </div>
{% endblock content %}