<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Redmine projects</h3>
    </div>

    <ul class="list-group list-group-condensed list-group-striped list-group-hover" style="height: 300px; overflow-y: scroll">
        {% for entity in entities %}
            <li class="list-group-item"><a href="{{ redmine.hostname|trim('/') ~ '/projects/' ~ entity.identifier }}"
                                           target="_blank">{{ entity.name }}</a></li>
        {% endfor %}
    </ul>
</div>