{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Project edit
{% endblock headline %}

{% block content_content %}
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('project') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
