{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Project creation
{% endblock %}

{% block content_content %}

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('project') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
