html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #eee;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.content {
    padding-top: 50px;
}

.page-header {
    margin-top: 10px;
    border-bottom: 1px solid #C0C0C0;
}

.navbar-default .navbar-brand {
    color: red;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.control-label.optional span {
    display: none;
}

.select2-search-choice-close {
    top: 3px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoCAYAAACiu5n/AAACLElEQVR42u3Zz0sUYRzH8bUISoyF1i5iXSooyYgOEXapZNYNojwU/aAfUAT9A4YhUgdxt1To0KFIBCMIvEcUEXntUtivpYuUhYFIdDBMmD69he/hObgsbSnb13ngdZjZhX3eO8/MDrMpSctKErwsg//HUSgU7uNYsB3hHla4CybqEoRPaMJGFCEMewxuxnsIk5iALPqg1yVdj9eQGUdjiuE1eAs+QOYztrsMJqwFk8EyHguW95klD+ZD08gsYvBFCBPYgHXBOT1UNpg3ncQpnAicRbrCCQ3j8SIf5QvYEWxvxnlb0mWDr0MIvcOaCiayC78gRKmlH+WDbaIjkJnDzgq/+VHIvMWqag3ehBkIAxXGdkAIDVRlsE24H9//4ty9hju4Hej710c5m83WYging32HMYjMnwSvx75UlQ+iOiDEaEMLZiA8dPc7TFQDnkGYxQ8Iz9Hs8k4riqIa4l5ApojVbm8tiduPL5CZRs5lMGFH8DNYxo+C5d3tMfgohJeow0qMQujxuqRb0RBsZ3DA2ZIuP5LgJDgJToKr4ZHOWjTOy+fzNa6DiezCFGReod1lMGF3IYzjMm5B5rirYIJyEJ4iHezfjW+YRr2n4EHE2LrAa1cg5DwFj2DWLlKljn67p+B+CIdKPAaOsddTcBOEKbTZvjp0Qvjo8Sp9DjJFfIVMjBsef4f34AHeYAxX0VfqMbDnfw97IXMTta6DLbobcxBa3Qdb9BPE2LZQ8G98530ecQi/2QAAAABJRU5ErkJggg==);
}

.select2-container-multi .select2-choices .select2-search-choice {
    margin: 3px 0 3px 3px;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px 10px;
}

.list-group-condensed .list-group-item {
    padding: 4px 8px;
}

.list-group-striped .list-group-item:nth-child(odd) {
    background-color: #f9f9f9;
}

.list-group-hover .list-group-item:hover {
    background-color: #e8e8e8;
}

.panel-heading .timesheet-day {
    font-weight: bold;
}

.panel-heading .timesheet-date {
    font-style: italic;
    padding-left: 0.5em;
}

.panel-heading-timeline {
    cursor: pointer;
}

.chosen-drop .chosen-results .chosen-level-1 {
    font-weight: bold;
}

.chosen-drop .chosen-results .chosen-level-2 {
    padding-left: 15px;
}

.chosen-drop .chosen-results .chosen-level-3 {
    font-style: italic;
    padding-left: 30px;
}

.table td.empty {
    color: #b6b6b6;
    text-align: center;
    font-style: italic;
}