{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Contract edit
{% endblock %}

{% block content_content -%}
    {{ form_start(edit_form) }}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_rest(edit_form) }}
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-block btn-primary">
            Update
        </button>
    </div>

    {{ form_end(edit_form) }}
{% endblock %}

{% block content_sidebar %}
    {% set view_mode = 'edit' %}
    {% include 'SmartProjectProjectBundle:Contract:sidebar.html.twig' %}
{% endblock %}

{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-contract-delete').first().click(function () {
                var form = $(this).closest('form');

                bootbox.confirm(
                        'Do you confirm contract deletion?',
                        function (result) {
                            if (result) {
                                form.submit();
                            }
                        }
                );
            });
        });
    </script>
{% endblock %}
