{% extends 'SmartProjectFrontBundle::layout.html.twig' %}

{% block headline %}
    Title
{% endblock %}

{% block content_content %}
    <h4>Content</h4>
{% endblock %}

{% block content_sidebar %}
    <h4>Sidebar</h4>
{% endblock %}