<div class="panel panel-primary">
    <div class="panel-heading">Quick Task <span class="glyphicon glyphicon-pushpin pull-right"></span></div>
    <div class="panel-body">
        {% include 'SmartProjectTimesheetBundle:TaskQuick:new_form.html.twig' %}
    </div>
</div>