{% block body -%}
    <div class="panel panel-primary">
        <div class="panel-heading">Quick task widget</div>
        <div class="panel-body">
            {% include 'SmartProjectTimesheetBundle:TaskQuick:form.html.twig' %}
        </div>
    </div>
{% endblock %}
